body {
    /*padding: 50px;*/
    /*font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;*/
    /*background-color: #9496a4;*/
    font: 13px/20px "Lucida Grande", Tahoma, Verdana, sans-serif;
    color: #404040;
    background: #0ca3d2;
}

#phone_link {
    color: #000000;
    display: inline-block;
    text-align: right;
    float: right;
    position: relative;
    padding-right: 10px;
}

.container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    /*grid-template-rows: 10% 40% 40% 10%;*/
    /*grid-template-rows: 10% 1fr 10%;*/
    grid-template-rows: 0.5fr 4fr 4fr 0.5fr;
    grid-gap: 5px;
    grid-template-areas:
            "h h h h h h h h h h hl hl"
            "s s s s l l l l l l l l"
            "m m m m l l l l l l l l"
            "f f f f f f f f f f f f";

}

@media screen and (max-width: 1024px) {
    .container {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 2fr 2fr 5fr 1fr;
        grid-template-areas: "h hl" "s s" "m m" "l l" "f f";
    }
}

.header {
    grid-area: h;
}

.header_link {
    grid-area: hl;
}

.footer {
    grid-area: f;
}

.container, .phone_container div {
    -webkit-box-shadow: 0 0 200px rgba(255, 255, 255, 0.5), 0 1px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 200px rgba(255, 255, 255, 0.5), 0 1px 2px rgba(0, 0, 0, 0.3);
    padding-left: 3px;
    padding-top: 3px;

}

.sip {
    grid-area: s;
}

.media {
    grid-area: m;
}

.log {
    grid-area: l;
    font-family: monospace;
}

.sip, .media, .log {
    /*position: relative;*/
    margin: 0 auto;
    /*padding: 20px 20px 20px;*/
    width: 98%;
    height: 100%;
    background: #00f1ff;
    border-radius: 3px;
    -webkit-box-shadow: 0 0 200px rgba(255, 255, 255, 0.5), 0 1px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 200px rgba(255, 255, 255, 0.5), 0 1px 2px rgba(0, 0, 0, 0.3);
    /*Transition*/
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

input {
    width: 90%;
    /*margin-top: 10px;*/
    /*margin-left: 10px;*/
}

.text_log {
    width: 98%;
    height: 98%;
    margin: auto;

}

/* phone.js */
.phone_container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /*grid-template-rows: 10% 40% 40% 10%;*/
    /*grid-template-rows: 10% 1fr 10%;*/
    grid-template-rows: 0.3fr 4fr 0.3fr;
    grid-gap: 5px;
    grid-template-areas:
            "ph ph ph hl"
            "pl pr pr pr"
            "pb pb pb pb";
}

.phone_header {
    grid-area: ph;
}

div.phone_local {
    grid-area: pl;
}

div.phone_remote {
    grid-area: pr;
}

div.phone_buttons {
    grid-area: pb;
}

video {
    /*position: absolute;*/
    width: 100%;
    height: auto;
    top: 0;
    left: 0
}

/* index.pug */
.join {
    position: relative;
    margin: 0 auto;
    padding: 20px 20px 20px;
    width: 310px;
    background: #00b9ff;
    border-radius: 3px;
    -webkit-box-shadow: 0 0 200px rgba(255, 255, 255, 0.5), 0 1px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 200px rgba(255, 255, 255, 0.5), 0 1px 2px rgba(0, 0, 0, 0.3);
    /*Transition*/
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

.join:before {
    content: '';
    position: absolute;
    top: -8px;
    right: -8px;
    bottom: -8px;
    left: -8px;
    z-index: -1;
    background: rgba(0, 0, 0, 0.08);
    border-radius: 4px;
}

.join h3 {
    margin: -20px -20px 21px;
    line-height: 40px;
    font-size: 15px;
    font-weight: bold;
    color: #555;
    text-align: center;
    text-shadow: 0 1px white;
    background: #f3f3f3;
    border-bottom: 1px solid #cfcfcf;
    border-radius: 3px 3px 0 0;
    background-image: -webkit-linear-gradient(top, whitesmoke, #eef2f5);
    background-image: -moz-linear-gradient(top, whitesmoke, #eef2f5);
    background-image: -o-linear-gradient(top, whitesmoke, #eef2f5);
    background-image: linear-gradient(to bottom, whitesmoke, #eef2f5);
    -webkit-box-shadow: 0 1px whitesmoke;
    box-shadow: 0 1px whitesmoke;
}

.join p {
    margin: 20px 0 0;
}

.join p:first-child {
    margin-top: 0;
}

.join input[type=text], .join input[type=password] {
    width: 278px;
}

.join p.submit {
    text-align: center;
}

.join p.submit {
    position: center;
}
